.input {
    font-size: 1.6rem;

    padding: 1rem;

    border: 2px solid #dededf;
    border-radius: 0.5rem;

    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: rgb(39, 39, 39);
}