.table {
    overflow: auto;
    width: 100%;
}

.table table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table caption {
    caption-side: top;
    text-align: left;
}

.table th {
    border: 1px solid #4a4a4a;
    background-color: #f65252;
    color: #000000;
    padding: 0.3rem;
}

.table td {
    border: 1px solid #4a4a4a;
    background-color: #ffffff;
    color: #000000;
    padding: 0.3rem;
}

.actions {
    display: flex;

    gap: 2rem;

    justify-content: center;
}



.table-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    .table-title {
        max-width: 10%;
    }
}

.final-header {
    display: flex;
    gap: 2rem;
}